/*------------------------------------------------------------------------------
| 768.css
| Sinatra Bootstrap + 55 Minutes Scaffolding + 320 and Up
| Author(s): Richa Avasthi
| Created: 2011-05-29
|
| Styles for screen sizes at least 768px wide.
------------------------------------------------------------------------------*/

@import "compass/css3";
@import "colors";
@import "typography";
@import "dimensions";

/*-----[ 768px+ screen width ]--------------------------------------------------
*/
$main-border-radius: 15px;

body
{
  background: $page-bg url("../images/bg.png");
}

#page
{
  margin: $body-text-line-height-fallback $gutter-width-fallback;
  margin: $body-text-line-height $gutter-width;
  @include border-radius($main-border-radius);
  @include single-box-shadow($content-shadow, 2px, 2px, 8px)
}

