/*-----[ colors ]---------------------------------------------------------------
| Variables defining the colors to be used throughout the application. Curious
| about the color names? Check out <www.colblindor.com/color-name-hue/> and 
| <http://chir.ag/projects/name-that-color/>.
*/
/*----------[ palette ]---------------------------------------------------------
*/
$porcelain: #e6e2e1;
$silver-rust: #cec8c5;
$americano: #7f716b;
$verdigris: #5a663a;
$castro: #331a2a;
$wine-berry: #4c1329;
$disco: #8c1c47;

/*----------[ backgrounds and borders ]-----------------------------------------
*/
$page-bg: $porcelain;
$content-bg: white;
$accent-bg: $silver-rust;

$content-shadow: $americano;

$inverse-highlight: $castro;

/*----------[ text ]------------------------------------------------------------
*/
$body-text-color: black;
$link: $verdigris;
$visited-link: $castro;
$secondary-text-color: #808080;

$highlighted-text-color: white;
$page-heading-text-color: $disco;
$subheading-text-color: $wine-berry;

$error-feedback: $disco;
$success-feedback: $verdigris;

/*----------[ forms ]-----------------------------------------------------------
*/
$button-border: black;
$button-gradient-light: #b92e64;
$button-gradient-mid: #822146;
$button-gradient-dark: $wine-berry;
$button-text-color: white;

$disabled-button-border: #d0d0d0;
$disabled-button-gradient-light: #fefefe;
$disabled-button-gradient-mid: #ececec;
$disabled-button-gradient-dark: #cdcdcd;
$disabled-button-text-color: #959595;

$text-input-inside-stroke: #f0eade;
$text-input-outside-stroke: black;

