/*-----[ home page ]------------------------------------------------------------
| Styles for the home page. See _feature-1.scss for more details on how 
| feature-specific styles should be organized.
*/
#home
{
  h1
  {
    color: $page-heading-text;
    font-size: 3.6rem;
    margin-bottom: 2 * $body-text-line-height - 3.6rem;
  }

  .subtitle
  {
    margin: 0 0 $body-text-line-height;
    font-size: $subheading-text-size;
    font-style: italic;
  }
}