/*-----[ home page ]------------------------------------------------------------
| Styles for the home page. See _feature-1.scss for more details on how
| feature-specific styles should be organized.
*/
#home
{
  h1
  {
    color: $page-heading-text-color;
    @include heading-text;
    margin-bottom: 2 * $body-text-line-height - $page-heading-text-line-height;
  }

  .subtitle
  {
    margin: 0 0 $body-text-line-height;
    @include subheading-text;
    font-style: italic;
  }
}
