/*-----[ layout ]---------------------------------------------------------------
| Basic page layout. Define the dimensions of the top-level boxes and their
| relative positions on the page.
*/
header, #main
{
  padding: $body-text-line-height-fallback $column-width-fallback;
  padding: $body-text-line-height $column-width;
  background-color: $content-bg;
}

#main
{
  padding-top: 0;
}

nav ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li
{
  float: left;
  margin-right: $column-width-fallback;
  margin-right: $column-width;
  font-size: $secondary-text-size;
}