/*-----[ page-specific ]--------------------------------------------------------
| Styles for individual pages or sections of the application.
*/
#main h1
{
  font-size: 36px;
  font-size: 3.6rem;
  margin-bottom: 8px;
  margin-bottom: 0.8rem;
}

#main .subtitle
{
  font-size: 18px;
  font-size: 1.8rem;
  font-style: italic;
}
