!!!
%html{html_attrs}
  %head
    / Meta
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %meta{:name => 'description', :content => ''}
    %meta{:name => 'author', :content => ''}

    %title Katamari

    / http://t.co/dKP3o1e
    %meta{:name => 'HandheldFriendly', :content => 'True'}/
    %meta{:name => 'MobileOptimized', :content => '320'}/
    %meta{:name => 'viewport', :content => 'width=device-width, target-densitydpi=160dpi, initial-scale=1'}/

    / Default styles: suitable for screen sizes 320px and up.
    %link{:href=>'/stylesheets/screen.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/print.css', :media => "print", :rel => 'stylesheet', :type => "text/css"}

    / Styles for progressively larger screen sizes.
    %link{:href=>'/stylesheets/480.css', :media => "only screen and (min-width: 480px)", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/768.css', :media => "only screen and (min-width: 768px)", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/992.css', :media => "only screen and (min-width: 992px)", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/1382.css', :media => "only screen and (min-width: 1382px)", :rel => 'stylesheet', :type => "text/css"}

    / Styles for retina displays
    %link{:href=>'/stylesheets/2x.css', :media => "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)", :rel => 'stylesheet', :type => "text/css"}

    /[if IE]
      %link{:href=>'/stylesheets/ie.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}

    / JavaScript libraries (all except Modernizr at bottom of page)
    %script{:type => "text/javascript", :src => "/javascripts/lib/modernizr-1.7/modernizr.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/lib/fiftyfive-utils/modernizr-extras.js"}
    
    / Favicons and touch icons
    / For iPhone 4
    %link{:href => '/images/apple-touch-icon-large.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'}
    / For iPad 1
    %link{:href => '/images/apple-touch-icon-medium.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'}
    / For iPhone 3G, iPod Touch and Android
    %link{:href => '/images/apple-touch-icon-small.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'}
    / For Nokia
    %link{:href => '/images/apple-touch-icon-small.png'}
    / For everything else
    %link{:href => 'favicon.png', :type => 'image/png'}
    %link{:href => 'favicon.ico'}

    / iOS meta
    %meta{:name => 'apple-mobile-web-app-capable',  :content => 'yes'}
    %meta{:name => 'apple-mobile-web-app-status-bar-style',  :content => 'black-translucent'}
    %link{:href => '/images/splash-iphone.png', :rel => 'apple-touch-startup-image', :type => 'image/png'}

    / Microsoft meta
    %meta{'http-equiv' => 'cleartype',  :content => 'on'}
    %meta{'http-equiv' => 'X-UA-Compatible',  :content => 'IE=edge,chrome=1'}


  %body
    = partial :_nav_main
    %section#main
      = yield
    
    / JavaScript libraries
    %script{:type => "text/javascript", :src => "/javascripts/lib/jquery-1.6.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/lib/jquery-ui-1.8.13/jquery-ui.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/lib/fiftyfive-utils/55_utils.js"}
    %script{:type => "text/javascript", :src => "/javascripts/lib/fiftyfive-utils/jquery.55_utils.js"}

    /[if (lt IE 9) & (!IEMobile)]
      %script{:type => "text/javascript", :src => "/javascripts/lib/selectivizr/selectivizr-min.js"}
      %script{:type => "text/javascript", :src => "/javascripts/lib/respond/respond.min.js"}

    / Application-specific JS
    %script{:type => "text/javascript", :src => "/javascripts/application.js"}
    
    = partial :_analytics
    