%footer.global
  %p
    Licenses of source works apply as appropriate. Icons by
    = succeed "." do
      %a{:href => "http://www.famfamfam.com/lab/icons/silk/", :title => "famfamfam.com: Silk Icons"} famfamfam
