%h1 Sinatra Bootstrap + 55 Minutes Scaffolding

%p Lorem ipsum dolor sit amet, consectetuer adipisc50 g elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci 150igula vulputate sapien, a rutrum nisl mi eu mi. Su200spendisse potenti. Aliquam eros. Nullam eros neque250, cursus eu, commodo in, vulputate nec, ipsum. Dui300s et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. Aenean nisl me400tus, euismod at, viverra nec, tristique eget, nisi450. Phasellus in nunc at quam tristique ornare. Quis500
