%h1 Katamari: a mass of webby goodness.

%p
  :markdown
    This is a quickstart for simple Rack applications, based on Adam Stacoviak's [sinatra-bootstrap](https://github.com/adamstac/sinatra-bootstrap), and integrated with/optimized for the following:

%ul
  %li 
    <a href="http://pow.cx/" title="Pow: Zero-configuration Rack server for Mac OS X">Pow</a> and <a href="https://showoff.io/">showoff.io</a> for testing locally
  %li <a href="http://stuffandnonsense.co.uk/projects/320andup/" title="320 and up">320 and up</a>
  %li <a href="http://opensource.55minutes.com/" title="opensource @ 55 Minutes: Java, Python and HTML5 goodies">55 Minutes Compass-based scaffolding</a>
  %li
    <a href="https://github.com/rtomayko/rdiscount/">RDiscount</a>
  
%p Licenses of source works apply as appropriate.
  