%h1 Katamari: a mass of webby goodness.

%p
  This is a quickstart for simple Rack applications, based on Adam Stacoviak's <a href="https://github.com/adamstac/sinatra-bootstrap">sinatra-bootstrap</a>, and integrated with/optimized for the following:

%ul
  %li <a href="http://pow.cx/" title="Pow: Zero-configuration Rack server for Mac OS X">Pow</a>
  %li <a href="https://showoff.io/">showoff.io</a>
  %li <a href="http://stuffandnonsense.co.uk/projects/320andup/" title="320 and up">320 and up</a>
  %li <a href="http://opensource.55minutes.com/" title="opensource @ 55 Minutes: Java, Python and HTML5 goodies">55 Minutes Compass-based scaffolding</a>
  
  