- @body_id = "home"
%h1 Katamari
%h2.subtitle A big ball of of web-quickstart goodness.

:markdown
  This is a quickstart for Sinatra applications, based on [sinatra-bootstrap](https://github.com/adamstac/sinatra-bootstrap), and integrated with/optimized for the following:

:markdown
  * [rvm](http://beginrescueend.com/ "RVM: Ruby Version Manager - RVM Ruby Version Manager - Documentation")
  * [Pow](http://pow.cx/ "Pow: Zero-configuration Rack server for Mac OS X") with [powder](https://github.com/Rodreegez/powder) and [showoff.io](https://showoff.io/) for testing locally.
  * [320 and up](http://stuffandnonsense.co.uk/projects/320andup/ "320 and up")
  * [55 Minutes CSS3/HTML5 foundation](https://github.com/55minutes/css3-foundation)
  * [RDiscount](https://github.com/rtomayko/rdiscount/)
  
%footer
  %p
    Licenses of source works apply as appropriate. Icons by
    = succeed "." do
      %a{:href => "http://www.famfamfam.com/lab/icons/silk/", :title => "famfamfam.com: Silk Icons"} famfamfam
