/*------------------------------------------------------------------------------
| 992.css
| Sinatra Bootstrap + 55 Minutes Scaffolding + 320 and Up
| Author(s): Richa Avasthi
| Created: 2011-05-29
|
| Styles for screen sizes at least 992px wide.
------------------------------------------------------------------------------*/
/*-----[ colors ]---------------------------------------------------------------
| Variables defining the colors to be used throughout the application. Curious
| about the color names? Check out <www.colblindor.com/color-name-hue/> and 
| <http://chir.ag/projects/name-that-color/>.
*/
/*----------[ palette ]---------------------------------------------------------
*/
/*----------[ backgrounds and borders ]-----------------------------------------
*/
/*----------[ text ]------------------------------------------------------------
*/
/*----------[ forms ]-----------------------------------------------------------
*/
/*-----[ typography ]-----------------------------------------------------------
*/
/*-----[ dimensions ]-----------------------------------------------------------
*/
/*-----[ 992px+ screen width ]--------------------------------------------------
*/
#page {
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  width: 75rem;
}

header, #main {
  margin: 0;
}
