/*-----[ colors ]---------------------------------------------------------------
| Variables defining the colors to be used throughout the application. Curious
| about the color names? Check out <www.colblindor.com/color-name-hue/> and
| <http://chir.ag/projects/name-that-color/>.
*/

/*----------[ table of contents ]-----------------------------------------------
| palette
| backgrounds and borders
| text
| forms
*/


/*----------[ palette ]---------------------------------------------------------
*/
// Main palette
$cream          : #fff8ec;
$tan-light      : #e6e2e1;
$tan-medium     : #cec8c5;
$tan-dark       : #7f716b;
$green          : #5a663a;
$rose           : #8c1c47;
$rose-dark      : #4c1329;
$purple         : #331a2a;
$burnt-orange   : #aa5e20;
$mustard-yellow : #ccb83d;

// Greys
$charcoal       : #444444;
$grey           : #808080;
$silver         : #c0c0c0;
$greyish-white  : #f0f0f0;

/*----------[ backgrounds and borders ]-----------------------------------------
*/
$page-bg           : $tan-light;
$content-bg        : white;
$accent-bg         : $tan-medium;

$content-shadow    : $tan-dark;

$inverse-highlight : $purple;

$stroke            : black;
$light-stroke      : darken($greyish-white, 10);
$disabled-stroke   : $silver;

/*----------[ text ]------------------------------------------------------------
*/
$body-text-color         : black;
$secondary-text-color    : $grey;
$disabled-text-color     : $silver;

$link                    : $green;
$visited-link            : $purple;
$active-link             : $rose;

$highlighted-text-color  : white;
$page-heading-text-color : $rose;
$subheading-text-color   : $rose-dark;

$error-feedback          : $burnt-orange;
$warning-feedback        : darken($mustard-yellow, 5);
$success-feedback        : $green;

/*----------[ forms ]-----------------------------------------------------------
*/
$button-base-bg                : $rose-dark;
$button-text-color             : white;

$destructive-button-base-bg    : $burnt-orange;
$destructive-button-text-color : white;

$disabled-button-base-bg       : lighten($silver, 3);
$disabled-button-text-color    : lighten($grey, 5);
