/*-----[ footer ]---------------------------------------------------------------
| Common page footer styles.
*/
footer
{
  color: $secondary-text;
  font-style: italic;
  
  p:last-of-type
  {
    margin-bottom: 0;
  }
}